<!DOCTYPE html>
<html lang="en" color-scheme="dark">

<head>
    <title>tiny.kmfg - url aliasing</title>
    <script src="/static/htmx.min.js?signature={{ .StaticSignature }}"></script>
    <link rel="icon" type="image" href="/static/favicon.png?signature={{ .StaticSignature }}" async>
    <link rel="stylesheet" href="/static/classless.min.css?signature={{ .StaticSignature }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <main>
        <span id="true-body">
            {{embed}}
        </span>
    </main>
</body>

</html>
